table {
  border-collapse: collapse;
  width: 100%;
  display: block;
  height: 450px;
  overflow-y: scroll;

  thead th {
    position: sticky;
    top: 0;
    background-color: #04aa6d;
    color: white;

    .filterIdentifier {
      height: 6px;
      width: 6px;
      background-color: #d0a02a;
      border-radius: 50%;
      display: inline-block;
    }
  }

  th,
  td {
    text-align: left;
    padding: 1rem;
  }

  tr {
    border-bottom: 1pt solid #d0d0d0;

    &:nth-child(even) {
      background-color: #1f2223;
    }
  }
}
