<h3>{{ tableTitle }}</h3>
<table>
  <thead>
    <tr>
      <ng-container *ngFor="let def of tableColDef">
        <th [id]="def.identifier" [style.width.%]="def.width">
          {{ def.headerLabel }}
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let val of data">
      <tr>
        <ng-container *ngFor="let def of tableColDef">
          <td>{{ val[def.identifier] ? val[def.identifier] : '&mdash;' }}</td>
        </ng-container>
      </tr>
    </ng-container>
  </tbody>
</table>
