<h3>{{ tableTitle }}</h3>
<table>
  <thead>
    <tr>
      <th width="25%">Label</th>
      <th width="10%">Kind</th>
      <th width="15%">Old Value</th>
      <th width="15%">New Value</th>
      <th width="15%">Changed By</th>
      <th width="16%">Updated On</th>
      <th width="14%">Task</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let val of data">
      <tr>
        <td>{{ val['label'] }}</td>
        <td>{{ val['kind'] }}</td>
        <td>{{ val['oldValue'] }}</td>
        <td>{{ val['newValue'] }}</td>
        <td>{{ val['changedBy'] }}</td>
        <td>{{ val['updatedOn'] }}</td>
        <td>{{ val['task'] }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
