/* Add application styles & imports to this file! */
* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #b8a68d !important;
  line-height: 2.4;
}

#header {
  display: flex;
  background: #333;
  color: #fff;
  padding: 0 10px;
}

#header nav {
  display: flex;
  flex-direction: row;
}

a {
  color: #fff;
}

#main {
  padding: 0 1rem;
}

app-nav {
  display: flex;
}

#sidebar {
  float: right;
  width: 29%;
}

#footer {
  display: flex;
  background: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 99%;
  height: 60px; /* Height of the footer */
}

.text-center {
  display: block;
  text-align: center;
}

.card {
  border: 1px solid #ddd;
  background: #f4f4f4;
  padding: 20px;
  margin-bottom: 10px;
}
